$text-color:       #555;
$title-color:      #5AADE3;
$background-color: #fff;
$link-color:       yellowgreen;
$link-color-hover: #aaa;
$selection-color:  lightblue;

/* css bar datalists */
$bg-color:     #eee;
$guides-color: #bbb;
$bar-color:    $title-color;

/* css sparklines */
$sparklines-bg-color:         #888;
$sparklines-bar-color:        #3498db;
$sparklines-bar-color-hover:  #2980b9;

/* colors to use in plots */
$plot-color-1: #FCCE54;
$plot-color-2: #4EC2E7;
