// No parent-child relationship
.center {
  text-align: center;
}

.small {
  font-size: $small-font-size;
}

.wrapper {
  padding: 1em;
}

.article {
  max-width: $content-width;
  margin: auto;
}

.hero {
  padding: 3em calc(50% - 20em);
  color: #fff;
  text-align: center;
  background-color: $bar-color;

  h1, h2 {
    margin: 0;
    color: #fff;
  }

  a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
}

.disclaimer {
  padding: 1em;
  background-color: $link-color;
  color: $text-color;

  strong {
    display: block;
    font-size: 1.5em;
  }
}
.examples-grid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.examples-grid__title,
.examples-grid__item {
  display: inline-block;
  flex: 1;
  margin: 1em;
  padding: 1em;
  min-width:  12.5em;
  min-height: 12.5em;
}

.examples-grid__title {
  color: #fff;
  background-color: $link-color;
  border: 1px solid $link-color;

  span {
    font-size: 1.5em;
  }
}

.examples-grid__item {
  border: 1px solid $link-color-hover;

  a {
    display: block;
    text-decoration: none;
  }
}

@media only screen and (max-width: 35em) {
  .hero {
    padding: calc(100% - $content-width)/2;
  }
}

@media all and (min-width: 40em) {
  .examples-grid__title,
  .examples-grid__item {
    width: 50%;
  }
}

@media all and (min-width: 60em) {
  .examples-grid__title,
  .examples-grid__item {
    width: 33.33%;
  }
}
